@using StackExchange.Profiling
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <![endif]-->


    <!--[if lte IE 6]><script src="/Scripts/warning.js"></script><script>window.onload=function()
    {e("js/ie6/");}</script><![endif]-->

    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false)

    <!--noscript-->
    <noscript>
        <meta http-equiv="refresh" content="0;url=http://www.google.com">
    </noscript>

    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/bundles/kendo/css")
    @Scripts.Render("~/bundles/kendo/js")

    <!--[if lte IE 6]>
    <script src="/Scripts/warning.js"></script>
    <script>window.onload = function () { e("js/ie6/") ;}</script><![endif]-->

</head>
<body>
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("MVC5", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("خانه", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("درباره ما", "About", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("تماس با ما", "Contact", "Home", new { area = "" }, null)</li>


                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                            <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        }

                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="text-center">

        <div class="row"><p>&copy; @DateTime.Now.Year غلامرضا ربال</p></div>
    </footer>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @MiniProfiler.RenderIncludes()
</body>
</html>
