@using MVC5.Common.Helpers
@using MVC5.Web.RazorHelpers
@model MVC5.ViewModel.AdminArea.Role.AddRoleViewModel
@{
    ViewBag.Title = "درج گروه کاربری کاربری";
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(MVC.Administrator.Role.ActionNames.Create, MVC.Administrator.Role.Name, new { area = MVC.Administrator.Name }, FormMethod.Post, new { role = "form", @class = "form-horizontal", autocomplete = "off", id = "createRoleForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>مشخصات گروه</strong>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.NoAutoCompleteTextBoxFor(m => m.Name)
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.NoAutoCompleteTextBoxFor(m => m.Description)
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-2">
                                @Html.CheckBoxFor(m => m.IsActive, new { @class = "checkbox-inline" })
                                @Html.LabelFor(m => m.IsActive, new { @class = "control-label" })
                            </div>
                            <div class="col-md-4">
                                @Html.CheckBoxFor(m => m.IsDefaultForRegister, new { @class = "checkbox-inline" })
                                @Html.LabelFor(m => m.IsDefaultForRegister, new { @class = "control-label" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>دسترسی ها</strong>
                </div>
                <div class="panel-body">
                  @CheckBoxListBuilder.CheckBoxList("PermissionIds", ViewBag.Permissions)
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" autocomplete="off" onclick="AjaxForm.CustomSubmit(this, 'createRoleForm')" data-loading-text="در حال ارسال اطلاعات" class="btn btn-success btn-block">
                                ثبت گروه کاربری
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            warningBeforeLoad();
        })
    </script>
}